body{
    background-color: rgb(24, 23, 23);
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

#title-container{
    position: relative;
    left: 44%;
    justify-content: center;
    border-radius: 5px;
    border: .1px solid white;
    outline: .1px solid aqua;
    background-color: rgb(24, 23, 23);
    box-shadow: inset 0 0 6px white;
    margin-bottom: 3%;
    margin-top: 3%;
    padding: 1%;
    width: max-content;
   
}
#title-container::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    background-image: linear-gradient(37deg, black,silver, orange, blue, hotpink, green, aqua, red,
    purple, aqua, lime, blue, darkorange, lightgreen, darkgreen);
    filter: blur(5px);
    border-radius: 5px;
    background-size: 400px;
    z-index: -1;
    animation: glowy 20s linear infinite;
}

@keyframes glowy {
    0%{background-position: 0 0;}
    50%{background-position: 400% 0;}
    100%{background-position: 0 0;}
}

#title-container h1{
    position: relative;
    margin: 0;
    font-size: clamp(1.2rem, 2vw, 1.8rem);
    color: white;
}

#icon-container{
    position: relative;
    left: 35%;
    width: 20%;
    height: 15vh;
}

#icon-container svg{
    width: 100%;
    height: 100%;
}
form{
    border: .1px solid black;
    box-shadow: 1px 2px 23px black;
    border-radius: 5px;
    /* margin: auto; */
    margin-left: 30vw;
    min-width: 35vw;
    max-width: 100px;
    padding: 2%;
}

form label{
    color: white;
    font-size: clamp(.8rem, 2vw, 1.2rem);
    margin: 3%;
}

form input{
    max-width: 40%;
    margin: 3%;
    transition: .4s;
}


form input:focus{
    outline: none;
    border-radius: 5px;
    transform: scale(1.1);
    border: 1px solid cyan;
    box-shadow: 1px 9px 9px rgb(3, 3, 3);
}

form button{
    font-size: clamp(.7rem, 2vw, 1.2rem);
    cursor: pointer;
    transition: .5s;
    margin: 5%;
    color: white;
    background-image: linear-gradient(0deg, steelblue, cyan);
    border: none;
    border-radius: 5px;
    min-width: 20%;
    min-height: 45%;
    text-shadow: 1px 0px 0px black;
    box-shadow: 1px 5px 9px black;
}

#register{
    border: none;
    font-size: clamp(.6rem, 1vw, 1rem);
    background: none;
    color: purple;
    width: 40%;
    text-decoration: underline;
    box-shadow: none;
}
form button:hover{transform: scale(1.1);}