@media only screen and (max-width: 785px){
    #message-dash-board{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 98vw;
        height: 96.5vh;
    }
    #message-log{
        width: 97%;
    }
    #message-board{
        width: 97%;
        height: 55%;
    }

    .infor-containers{
        width: 97%;
    }

    #chat-with-container{
        flex-direction: row;
        justify-content: space-evenly;
        height: 20%;
    }
    
    #user-image{
        width: 6vw;
        height: 6vw;
    }
}