#users-group-menu {
  position: absolute;
  top: 19%;
  left: 0;
  width: 55vw;
  min-width: 290px;
  height: 70vh;
  border: none;
  transition-duration: 0.2s;
  border-radius: 10px;
  background: #222224;
  box-shadow: 1px 5px 15px black;
  overflow-x: hidden;
  overflow-y: auto;
  visibility: hidden;
}
#users-group-menu::-webkit-scrollbar {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#users-group-menu::-webkit-scrollbar-thumb {
  background-color: cadetblue;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: .1%;
}

#group-nav {
  position: relative;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 2%;
  padding: 0;
  border-radius: 5px;
  box-shadow: 1px 3px 5px black;
  background: #1a1a1b;
  width: 100%;
  height: 12%;
}


#create-group-btn {
  position: relative;
  background: none;
  border-radius: 5px;
  transition-duration: 0.3s;
  transition-property: box-shadow, transform;
  width: max-content;
  font-size: clamp(0.57rem, 1vw, 1rem);
  color: aliceblue;
  border: none;
  height: 70%;
  margin: 0;
  cursor: pointer;
  text-shadow: 1px 0px 0px aquamarine;
  box-sizing: border-box;
}
#create-group-btn:hover {
  border: none;
  color: cadetblue;
  transform: scale(1.1);
  box-shadow: 1px 9px 10px black, 1px 10px 10px cadetblue;
}
#search-form {
  position: relative;
  top: 3%;
  left: -8%;
  display: flex;
  flex-flow: row;
  align-items: center;
  width: 55%;
  height: 80%;
  padding: 0;
  margin: 0;
  box-shadow: none;
  background: none;
  border: none;
  visibility: visible;
  z-index: 0;
}

#search-form input {
  width: 75%;
  height: 65%;
  border-radius: 5px;
  border: none;
}
#search-form input::placeholder {
  font-size: clamp(.2rem, .7rem, 2rem);
  padding: 1%;
}

#search-btn {
  position: relative;
  background: none;
  min-width: 10%;
  font-size: 0.8em;
  height: 80%;
  transition-duration: 0.3s;
  transition-property: box-shadow, transform;
  cursor: pointer;
  box-shadow: none;
}

#search-btn:hover {
  border: none;
  color: cadetblue;
  box-shadow: 1px 9px 10px black, 1px 9px 10px cadetblue;
}

.bi {
  width: 100%;
  height: 100%;
}

#users-group-close-btn {
  position: fixed;
  top: 63vh;
  left: 50%;
  font-size: 1em;
  padding: 1%;
  border: none;
  border-radius: 5px;
  color: white;
  transition-duration: 0.2s;
  width: max-content;
  height: max-content;
  /* box-shadow: -1px -5px 10px black; */
  background-color: #1b1d1f35;
  cursor: pointer;
}

#users-group-close-btn:hover {
  transform: scale(1.1);
  border: 1px solid white;
}

#user-list {
  position: relative;
  left: 2%;
  width: 95%;
  height: 72%;
  margin-bottom: 1%;
  margin-top: 2%;
  border-radius: 5px;
  overflow-x: hidden;
  overflow-y: auto;
}

#user-list ul li {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  margin: 3%;
  padding: 0.5%;
  height: 15%;
  min-height: 27px;
  border-radius: 5px;
  box-shadow: 1px 9px 10px black;
  background: #1b1d1f;
}

#user-list ul li:hover {
  transform: scale(1);
}

#user-list ul li div {
  border: 1.8px solid white;
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
}

#user-list ul li div img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

#user-list ul li h4 {
  color: white;
  font-size: clamp(.6rem, 1.2vw, 1rem);
  width: max-content;
  height: max-content;
  margin-top: 0;
  padding: 1%;
}

#user-list ul li button {
  color: lime;
  border: none;
  font-size: clamp(0.6rem, 1vw, 1rem);
  padding: 0;
  justify-content: center;
  align-items: center;
  width: max-content;
  height: max-content;
  padding: 0.7% 1%;
  box-shadow: 1px 5px 5px black, inset 0 0 5px white;
  text-shadow: 1px 1px 0px black;
  background-color: #131314;
}

/* media query setups */
@media only screen and (max-width: 600px){
  #group-nav {
    height: 7%;
  }

  #users-group-menu {
    height: 55vh;
  }

  #user-list ul li div {
    width: 6.8vw;
    height: 6.8vw;
    margin-left: -5%;
    margin-right: .5%;
  }

  #user-list ul li button {
    box-shadow: none;
    background: none;
  }

  #users-group-close-btn {
    top: 50.5vh;
  }
}
